.box-sizing {
  width: 280px;
  height: 300px;
}

div.gallery {
  display: flex;
  margin left: auto;
}

div.gallery img {
  width: 280px;
  height: 350px;
}

figure{
  margin: 12px;
}

div.gallery-2{
  display: flex;
  margin-left: auto;
}
div.gallery-2 img{
  width: 280px;
  height: 350px;
  }